doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Line Notify Connecting Successfully
    link(rel='stylesheet', href='/assets/css/bulma.min.css')
    link(rel='stylesheet', href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css")
  body
    if !user
      button.button(onclick='lineLogin()')
        span.icon
          img(src="/assets/images/btn_base.png", alt="logo" )
        span Line Login
    else
      div.container.is-max-desktop
        div.notification.is-primary
          p Hello #{user.displayName} 
            a(onclick='logout()') (登出)
          div.buttons
          if !isLineNotifyConnected
            button.button.is-primary.is-light(onclick='connectLineNotify()') 連動Line Notify
          else 
            button.button.is-link.is-light(onclick='unconnectLineNotify()') 取消連動
        
      
script.
  function lineLogin(){
    location.href='/oauth/lineLogin';
  }

  function logout(){
    location.href='/oauth/logout';
  }

  function connectLineNotify(){
    location.href='/oauth/lineNotify'
  }

  function unconnectLineNotify(){
    location.href='/oauth/unconnectLineNotify'
  }
